.wrapper {
    margin: 20px auto;
    /* background-color: red; */
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    height:30px;
    
}